<div class="loading-container">
    <div class="loading-spinner"></div>

    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <p>@Text</p>
    }
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "Loading...";
}