@page "/listings/edit/{Id:int}"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Campus_Cart_Student_Marketplace.Models
@using Campus_Cart_Student_Marketplace.Services
@inject Campus_Cart_Student_Marketplace.Services.ItemService ItemService
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<PageTitle>Edit Listing</PageTitle>

<div class="form-page">

    <div class="form-card">

        <h1>Edit Listing</h1>

        <EditForm Model="Item" OnValidSubmit="EditListing">

            <DataAnnotationsValidator />

            <div class="form-group">
                <label>Title</label>
                <InputText @bind-Value="Item.Title" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <InputTextArea @bind-Value="Item.Description" />
            </div>

            <div class="form-group">
                <label>Price</label>
                <InputNumber @bind-Value="Item.Price" />
            </div>

            <div class="form-group">
                <label>Condition</label>
                <InputText @bind-Value="Item.Condition" />
            </div>

            <button type="submit" class="primary-btn">
                Save Changes
            </button>

            <button class="secondary-btn" @onclick="NavigateToDashboard">
                Cancel
            </button>

        </EditForm>

    </div>

</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private Item Item = new();

    protected override async Task OnInitializedAsync()
    {
        var authState =
            await AuthStateProvider.GetAuthenticationStateAsync();

        Console.WriteLine(
            $"Authenticated: {authState.User.Identity?.IsAuthenticated}");

        var user =
            await UserManager.GetUserAsync(authState.User);

        if (user == null || !user.Seller)
        {
            Nav.NavigateTo("/login", true);
            return;
        }

        Item = await ItemService.GetItemByIdAsync(Id);
        
    }

    private async Task EditListing()
    {
        await ItemService.UpdateItemAsync(Item);
        Nav.NavigateTo($"/dashboard");
    }

    private void NavigateToDashboard()
    {
        Nav.NavigateTo($"/dashboard");
    }

}